.pixel-div {
    width: 5vw;
    height: 5vw;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

.pixel-div:hover {
    background-color: lightgray;
}

.row {
    display: flex;
}

.pixel-container {
    display: flex;
    flex-wrap: wrap;
}

.pop-up-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius: 5px;
}